/////////////////////////////////////////////
///////////////buttons styles////////////////
////////////////////////////////////////////////////////////////////////////////

.btn {
  padding: 2rem 5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  background-color: var(--color-primary);
  border-bottom: solid 3px #00000045;
  transition: opacity 0.3s;
  cursor: pointer;

  &-group {
    margin-top: 5rem;

    @media screen and(max-width:600px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .btn:not(:first-child){
          margin: 5rem 0 0 0;

      }
    }
  }

  &:not(:first-child) {
    margin-left: 2rem;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  &-light-blue {
    background-color: var(--color-primary-blue);
  }
  &:focus {
    outline: none;
  }
}
